@import url("https://adorn-ui.netlify.app/../AdornUi-Stylesheets/AdornUi.css");
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Antic+Slab&family=EB+Garamond&family=Exo:wght@100&family=Great+Vibes&family=Quicksand:wght@300&family=Raleway:wght@200&family=Roboto+Slab:wght@100;200&family=Source+Serif+4:wght@300&family=Tangerine:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import "./homepage.css";

body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

:root{
    font-size: 62.5%;
}

@media only screen and (max-width: 600px){
    html{
        font-size:50%;
    }
}